<!DOCTYPE html>
<html>
  <head>
    <title>Registar's Office</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class='container'>

      #parse( $template )

      <footer>
        <h6><a href="/classes">Add or View Classes</a></h6>
        <h6><a href="/students">Add or View Students</a></h6>
        <h6><a href='/'>Home</a></h6>
      </footer>
    </div>

  </body>
</html>
