<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class='container'>

      #parse( $template )

      <footer>
        <h3><a href="/categories">Add or view a category</a></h3>
        <h3><a href="/tasks">Add or view a task</a></h3>
        <h3><a href="/filter">Filter Categories</a><h3>
      </footer>
    </div>

  </body>
</html>
